.hero {
  position: relative;
}

.logo-ctn{
  position: absolute;
  left: 40px;
  top: 40px;
  z-index: 2;
}

.logo:hover > svg *{
  fill: #D35F74;
}

.desktop-nav{
  position: absolute;
  right: 15px;
  top: 50px;
  z-index: 1;
  width: 100%;
}

.desktop-nav ul{
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
}

.desktop-nav ul li{
  padding: 0 25px;
}

.desktop-nav ul li a{
  color: #fff;
  font-weight: 600;
}

.desktop-nav ul li a:hover{
  color: #D35F74;
  font-weight: 600;
}

.hero-text {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 100%;
}

h1 {
  background: #fff;
  font-weight: 700;
  font-size: 5.625rem;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  background: #ffff;
  font-weight: 300;
  font-size: 3rem;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.button-ctn{
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: -70px;
  z-index: 1;
  width: 100%;
}

.button-ctn a{
  background-color: #D35F74;
  padding: 10px 15px;
  border-radius: 1px;
}

.button-ctn a:hover{
  background-color: #be5668;
}

@media (max-width: 1000px){
  h1{
    font-size: 4.5rem;
  }

  h2{
    font-size: 2.5rem;
  }
}

@media (max-width: 670px){
  h1{
    font-size: 2.5rem;
  }

  h2{
    font-size: 1.5rem;
  }
}
