.hero{
    position: relative;
  }
  
.hero-text{
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

h1 {
    background: #F9E2F1;
    font-weight: 700;
    font-size: 5.625rem;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    margin: 0;
  }
  
  h2 {
    background: #F9E2F1;
    font-weight: 300;
    font-size: 3rem;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
  }