.about{
    height: 100vh;
    background: linear-gradient(to left, #07070E 50%, #fff 50%);
    display: flex;
    align-items: center;
    position: relative;
}

.about h3{
    padding-bottom: 25px;
}

.about-logo{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-content{
   width: 50%;
   padding-right: 100px;
}

.about-content p{
    line-height: 200%;
    margin: 25px 0;
}

.about-content p:last-child{
    margin-bottom: 50px;
}

.about-skills{
    width: 600px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.skill{
    display: flex;
    align-items: center;
}

.skill p{
    padding-left: 10px;
    padding-right: 30px;
    margin: 5px 0;
}

@media (max-width: 1450px){

    .about{
        position: absolute;
    }
}

@media (max-width: 1280px){

    .about-content{
        padding-right: 50px;
     }
}

@media (max-width: 1160px){

    .about{
        background: #fff;
    }

    .about-content{
        width: 100%;
    }

    .about-logo{
        display: none;
     }
}

@media (max-width: 600px){
    
    .about-content{
        padding-right: 0;
    }

    .about-skills{
        width: 100%;
    }
}

@media (max-width: 540px){

    .about{
        height: auto;
        padding: 70px 0;
    }
    
    .about-content{
        padding-right: 0;
    }

    .about-skills{
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
}