.card {
  max-width: 703px;
  width: 100%;
  margin-bottom: 60px;
}

@media (max-width: 1000px){
  .card {
    max-width: 100%;
    width: 100%;
  }
}

.card .card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 440px){
  .card .card-info {
    flex-direction: column;
    align-items: flex-start;
  }
}

.card .card-info > p {
  font-size: 1.375rem;
}

@media (max-width: 440px){
  .card .card-info > p {
    font-size: 1.25rem;
  }
}

.card .card-image {
  max-width: 703px;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 1000px){
  .card .card-image {
    max-width: 100%;
    width: 100%;
  }
}

.card .card-chip {
  background: #07070e;
  color: #f9e2f1;
  padding: 0 12px;
  border-radius: 50px;
  margin-inline-start: 15px;
}

@media (max-width: 1000px){
  .card .card-chip {
    margin-inline-start: 0;
    margin-right: 6px;
  }
}

.card .card-project-image {
  position: relative;
  overflow: hidden;
}

.card .card-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0;
  transition: 0.2s;
  background: #07070e;
  color: #f9e2f1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card .card-hover p {
  text-align: center;
}

.card .card-hover a {
  text-align: center;
  background: #f9e2f1;
  color: #07070e;
  width: 170px;
  padding: 10px 0;
  margin: 10px 0;
  border-radius: 2px;
  transition: 0.2s;
}

.card .card-hover a:hover {
  background: #e7b5d7;
}

.card .card-image:hover ~ .card-hover {
  top: 0;
}

.card .card-hover:hover {
  top: 0;
}
